<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>HTMX: Exercício Simples</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>

    <h1>Interagindo com a API de Nomes</h1>
    <form hx-post="https://ola-tp1.onrender.com/nomes" 
          hx-target="#resultado-post" 
          hx-swap="innerHTML">
        
        <input type="text" name="nome" placeholder="Digite um nome" required>
        <button type="submit">Salvar nome</button>
    </form>
    <div id="resultado-post">
        Aguardando envio...
    </div>
    <h2>Lista Nomes</h2>

    <button hx-get="https://ola-tp1.onrender.com/nomes" 
            hx-target="#resultado-get" 
            hx-swap="innerHTML">
        Mostrar Nomes 
    </button>
    
    <h3>Lista Atual:</h3>
    <div id="resultado-get">
        A lista aparecerá aqui.
    </div>

</body>
</html>