<html>
<head>
    <meta charset="utf-8">
    <title>Resposta</title>
</head>
<body>
    <h1>Formulário recebido!</h1>
    <h2>Olá, <%= nome %> <%= sobrenome %> de <%= cidade %>!</h2>

    <a href="/">Voltar ao formulário</a>
</body>
</html>